# Provider 
export PROXMOX_VE_ENDPOINT="https://192.168.1.10:8006/"
export PROXMOX_VE_INSECURE="true"
export PROXMOX_VE_USERNAME="root@pam"
export PROXMOX_VE_PASSWORD="REPLACEME"
# export PROXMOX_VE_SSH_USERNAME="root"
# export PROXMOX_VE_SSH_AGENT="true"
# export PROXMOX_VE_API_TOKEN='terraform@pve!Terraform=REPLACEME'

# Unifi Network Application
export TF_VAR_UNIFI_MAC_ADDRESS="REPLACEME"
export TF_VAR_UNIFI_SSH_KEY="REPLACEME"

# PowerDNS
export TF_VAR_POWERDNS_MAC_ADDRESS="REPLACEME"
export TF_VAR_POWERDNS_SSH_KEY="REPLACEME"

# PiHole
export TF_VAR_PIHOLE_MAC_ADDRESS="REPLACEME"
export TF_VAR_PIHOLE_SSH_KEY="REPLACEME"
